
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Integra IFMG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href = "/css/bootstrap.min.css" media = "screen" rel = "stylesheet" type = "text/css"/>
    <link href = "/css/bootstrap-responsive.min.css" media = "screen" rel = "stylesheet" type = "text/css"/>
    <link href = "/css/jquery.bootstrap.validate.min.css" media = "screen" rel = "stylesheet" type = "text/css"/>
    <link href = "/css/validate-form.min.css" media = "screen" rel = "stylesheet" type = "text/css"/>
    <link href = "/css/ui.jqgrid.min.css" rel = "stylesheet" type = "text/css" media = "all"/>
    <link href = "/css/ui.multiselect.min.css" rel = "stylesheet" type = "text/css" media = "screen"/>
    <link href = "/css/table_jui.min.css" rel = "stylesheet" type = "text/css" media = "screen"/>

    <?php
    /* echo $this->jQuery()
             ->UiEnable()
             ->Enable();*/
    /* $view->jQuery()->addStylesheet('/css/jquery-ui.min.css')
->setLocalPath('/js/jquery-1.11.0.min.js')
->setUiLocalPath('/js/jquery-ui-1.10.4.custom.min.js');*/
    ?>
    <link href = "/css/jquery-ui.min.css" rel = "stylesheet" type = "text/css" media = "screen"/>
    <link href = "/css/site.css" rel = "stylesheet" type = "text/css" media = "screen"/>
    <link href = "/css/print.css" rel = "stylesheet" type = "text/css" media = "print"/>

    <!--SCRIPTS-->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.jqChart.min.js"></script>
    <script src="/js/i18n/grid.locale-pt-br.js" type="text/javascript"></script>
    <script src="/js/ui.multiselect.js" type="text/javascript"></script>
    <script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="/js/grid.js" type="text/javascript"></script>
    <script src="/js/jquery.maskMoney.js"></script>
    <script src="/js/jquery.maskedinput-1.1.4.pack.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/jquery.ui.datepicker.validation.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap.validate.js"></script>
    <script type="text/javascript" src="/js/i18n/validate.bootstrap.pt_br.js"></script>
    <script type="text/javascript" src="/js/jquery.bootstrap.inputmask.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<!-- HEADER -->
<header class="header" id="header">
    <div class="container-fluid" id="desktop">
        <div class="row-fluid">
            <div class="pull-left">
                <!--<h2 style="text-shadow:2px 1px #fff;">Integra IFMG</h2>   -->
                <a href="/">
                    <img style="margin-top:4px;height:50px;" src="/img/logoop.jpg"></img>

                </a>
            </div>
            <div class="pull-right" id="textoHeader">
                <p>.</p>
            </div>
        </div>
    </div>

    <!-- Topo fixo -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- Menu Topo -->
        <div class="navbar-header" >
            <!--<div class="brand" id="brand">-->

            <!--</div>-->

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

        </div>
        <div class="container-fluid">
            <div class="nav-collapse">
                <div class="pull-left">
                    <a class="brand" href="/" style="color:#fff;">Integra</a>
                    <ul class="nav">


                    </ul>
                </div>


                } //ENDIF


            </div>
        </div>
    </div>
</header>
<!-- FIM HEADER -->

<!-- WRAP-->
<div id="wrap">
    <!-- CONTENT -->
    <div class="container-fluid" style="">
        <br/><br/><br/>
        <div id="alert alert-block" class="container-fluid">
            <?php echo $this->flashMessenger(); ?>
        </div>
        <div class="">
            <?php echo $this->layout()->content; ?>
        </div>
    </div>
    <!-- FIM CONTENT -->
    <!-- FOOTER-->
    <div class="footer">
        <div class="container-fluid">
            <div class="span12 row-fluid">
                <div class="span8">
                    <?php
                    if ($auth->hasIdentity()) {
                        ?>
                        <span class="span6">
                                                    <label style="display: inline" class=""for="instituicao">Campus:</label>
                                                                    <select id="instituicao" style="margin-bottom: 0px; background-color: #DDDDDD;" class='input input-medium  inline' onchange=' var end = replaceAll(document.URL.toString(), "/", "*");
                                                                                    document.location.href = "/usuario/alterarinstituicao/id/" + this.value + "/endereco/" + end'>
                                                                                <?php
                                                                                $selected = '';
                                                                                $inst = '-';
                                                                                foreach ($user->getVinculos() as $vinculos) {
                                                                                    if ($vinculos['id'] == $user->getInstituicao()) {
                                                                                        $selected = 'selected';
                                                                                        $inst = $vinculos['nome'];
                                                                                    } else
                                                                                        $selected = '';
                                                                                    echo "<option value='" . $vinculos['id'] . "'" . $selected . ">" . $vinculos['nome'] . "</option>";
                                                                                }
                                                                                ?>
                                                                    </select>
                                                </span>

                        <span class="span6">
                                                    Usuário:
                            <?php
                            echo $user->getNome();
                            ?>

                                                </span>
                        <?php
                    }
                    ?>
                </div>
                <div class="span4 text-left">
                    <div class="span12 row-fluid">
                                            <span class="span4">
                                                Integra 1.1
                                            </span>
                        <span class="span8 " >
                                                <a href="/ajuda/sobre">IFMG - 2018  &copy; BSD License </a>
                                            </span>
                    </div>
                </div>
                <!--                                    <a href="#header" class="pull-right">
                                                        <span  class='btn btn-large' alt="" title="Para o Topo"><i class="icon-chevron-up"></i></span>
                                                    </a>-->
            </div>
        </div>
    </div>
    <!-- FIM FOOTER -->
</div>
<!-- FIM WRAP-->
<div id="processando" class="processando" ><div style="margin-left:auto;margin-right: auto; width: 130px; margin-top:  270px;"><p style="font-size:20px; margin-bottom: -20px">Processando...<p/><br/><img src="/img/loader.gif"></div></div>
</body>
<script type="text/javascript">
    // <!--
    //Função de mudança de centro de custo/instituição
    function replaceAll(str, de, para) {
        var pos = str.indexOf(de);
        while (pos > -1) {
            str = str.replace(de, para);
            pos = str.indexOf(de);
        }
        return (str);
    }
    // Fixar menu no topo da página ao executar scroll
    jQuery("document").ready(
        function ($) {
            var nav = $('.navbar-fixed-top');
            $(window).scroll(function () {
                if ($(this).scrollTop() > 103 && $(window).width() > 980) {
                    nav.css("position", "fixed");
                    nav.css("top", "0px");
                    nav.css("margin-top", '0px');
                } else if ($(window).width() > 980) {
                    nav.css("position", "absolute");
                    nav.css("top", "60px");
                    nav.css("margin-top", "0px");
                }
            });
            $('form').bind('submit', function () {
                if ($('form').valid())
                    $("#processando").show();
            });
        });

    //-->
</script>
</html>